<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%=title%>-<%=_web.sitename%></title>
    <meta name="keywords" content="">
    <meta name="description" content="<%=title%>-<%=_web.sitename%>">
    <%include inc/header.html%>
    <link rel="stylesheet" href="<%=_web.url%>/static/vendors/github-markdown/github-markdown.css">
    <link rel="stylesheet" href="<%=_web.url%>static/src/css/business/page/page.css">
</head>
<body>
<%include inc/menu.html%>

<%include inc/footer.html%>
</body>
</html>
