<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%=title%>-<%=_web.sitename%></title>
    <meta name="keywords" content="<%=_web.keywords%>">
    <meta name="description" content="<%=title%>-<%=_web.sitename%>">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="<%=_web.url%>static/src/css/business/login/register.css" rel="stylesheet">
    <script src="<%=_web.url%>static/src/js/widget/jquery/jquery-1.9.1.min.js" charset="utf-8"></script>
    <%include inc/header.html%>
</head>
<body>
<%include inc/menu.html%>
<div style="text-align:center">
  <%=title %>
</div>
<%include inc/footer.html%>
<script>

let type="<%=result.type %>";
  if(type=="add")
  {
    setTimeout(function(){
      window.location.href="/";
    },3000)
  }
  else{
    setTimeout(function(){
      window.location.href="/login";
    },3000)
  }
</script>
</body>
</html>
